




.flex-order {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.single-post {
  line-height: 1.4;
  font-size: 1.2857142857142858rem;
}